# Ignore binaries
**/bin/
**/bin-int/
**/build/

# Ignore Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Ignore Visual Studio Code files
.vscode/

# Ignore CMake generated build files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
