# Ignore binaries
**/bin/
**/bin-int/

# Ignore Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Ignore Visual Studio Code files
.vscode/

# Ignore CMake generated build files
build/
